*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    transition: .8s;
}

body{
    font-family: 'Play', sans-serif;
    background-color: darkslategray;
}

.banner, h1, #book-oreder-list-link, h2 { transition: 0.6s; }
h1, button, h2{ margin-bottom: 12px; }
#h1-restaurant-name { color: #fff; letter-spacing: 2px; font-size: 42px;}
#h2-restaurant{ color: #fff; letter-spacing: 1.5px; }
#book-oreder-list-link{ text-decoration: none; }
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background: url('./image/wallpaperbetter\.jpg');
    background-size: 180%;
    background-position: center;
    transition: 0.5s;
}

.banner-bottom-block{
    height: 60px;
    width: 100%;
    background-image: url('./image/metallic.jpg');
    background-position: center;
    background-size: 100%;
}

main{
    margin-top: 22px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.under-main-block{
    width: 100%;
}

.navbar{
    width: 100%;
    height: 60px;
    background-image: url('./image/metallic.jpg');
    background-position: center;
    background-size: cover;
}

.ul-list-navbar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    letter-spacing: 1px;
    color: #dec054;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 16px;
}

.ul-list-navbar li{
    cursor: pointer;
    transition: .6s;
    display: block;
}

.ul-list-navbar li:hover{
    border-bottom: 1.5px solid red;
}

#book-oreder-list-link{
    padding: 12px 36px;
    border-radius: 50px;
    border: 0;
    background: #221e6f;
    color: #f9f9f9;
    text-transform: uppercase;
    cursor: pointer;
}
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;   
}

.container {
    transition: .8s;
    transform: translateX(-100px);
    opacity: 0;
}

.section-about{
    position: relative;
}

.container-about{
    background-color: #121212;
    background-image: url('.//image/about.jpg');
    background-position: center;
    background-size: cover;
    height: 480px;
    opacity: .6;
}

.text-about{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 1;
    color: #fff;
    transition: 1s;
}

.header-about{
    font-size: 42px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.paragraph-about{
    width: 54%;
    letter-spacing: .9px;
    font-size: 15px;
}

@media(max-width: 599px){
    #h1-restaurant-name { font-size: 20px;}
    #h2-restaurant{ font-size: 14px; }
    #book-oreder-list-link{ font-size: 10px; }
}

@media(max-width: 849px){
}